.header{
    width: 100%;
    text-align: center;
}
.header img{
    height: 80px;
    margin: 20px;
}
.header nav{
    background-color: rgb(51, 51, 51);
    padding: 10px 10%;
    text-align: left;
}
.user-div{
    display: inline;
}
.user-name{
    float: right;
    color: rgb(255, 244, 87);
    margin: 0;
    padding: 10px;
    font-weight: 500;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    transition: .3s;
}
nav a:hover{
    background-color: rgb(85, 85, 85);
}